.post {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  max-width: 50%;
  margin-bottom: 50px;
}

.post_image {
  width: 100%; 
  height: 500px; 
  object-fit: cover; 
  border-radius: 5px;
}

.post_content {
  display: block;
  margin-left: 50px;
}

.post_title {
  font-size: xx-large;
  color: black;
}

.post_text {
  white-space: pre-line;
}

.post_delete {
  margin: 10px;
}

.post_creator {
  font-size: small;
  font-style: italic;
  margin: 5px;
  margin-left: 10px;
}