.post {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  background-color: white;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5); 
  overflow: hidden;
  margin-bottom: 45px;
  transition: transform 0.2s ease-in-out;
  padding: 16px; 
}

.post:hover {
  transform: translateY(-4px); 
}

.post_image {
  width: 100%;
  object-fit: cover;
  border-radius: 8px; 
  margin-bottom: 12px; 
}



.post_text {
  font-weight: 500;
  font-size: 1rem;
  color: #333;
  padding: 12px;
  border-radius: 8px;
  background: #ffd5ed;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.post_comments {
  padding: 12px;
  font-size: 0.9rem;
}


.post_header {
  display: flex;
  align-items: center;
  padding: 16px;
  background: #f8f9fa;
  border-bottom: 1px solid #ddd;
  border-radius: 12px;
  margin-bottom: 10px;
}

.post_headerInfo {
  flex-grow: 1;
  margin-left: 10px;
}

.post_headerInfo h3 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 10px;
}

.post_commentbox {
  display: flex;
  padding: 12px;
  background: #f8f9fa;
  border-radius: 8px;
  margin-top: 10px;
}

.post_input {
  flex: 1;
  border: none;
  border-radius: 8px;
  padding: 10px;
  outline: none;
  background: #fff;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.post_button {
  border: none;
  background: #ff4081;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}

.post_button:hover {
  background: #e6326e;
  transform: scale(1.05);
}


.post_delete {
  background-color: #e63946; 
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.post_delete:hover {
  background-color: #d62839; 
}


.post_avatar {
  width: 65px !important;
  height: 65px !important;
}

